body {
    background-color: #121213;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    text-align: center;
}

#board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.tile {
    width: 58px;
    height: 58px;
    border: 2px solid #3a3a3c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

/* Status Warna */
.correct { background-color: #538d4e; border: none; }
.present { background-color: #b59f3b; border: none; }
.absent { background-color: #3a3a3c; border: none; }

#message {
    height: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.hint { color: #818384; font-size: 0.9rem; }
